.nonote {
  width: 75%;
  height: 100vh;
  background-color: #dae5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  gap: calc(100vh - 85vh);
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: max-content;
  max-width: 75%;
}
.img__container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.nonote__title {
  font-size: 50px;
  font-weight: bold;
}
.nonote__img {
  /* max-width: 626px; */
  min-width: 100%;
}
.note__description {
  font-size: 22px;
  font-weight: 500;
  color: #292929;
  max-width: 650px;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: flex-end;
  gap: 10px;
}
