.notedetails {
  background-color: #dae5f5;
  width: 100%;
  padding: 20px;
  flex-grow: 0.6;
  overflow-y: auto;
  flex-grow: 1;
}
.notedetail__card {
  background-color: white;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 10px 0;
}
.note {
  letter-spacing: calc(3.5 / 100 * 16);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
}
.time {
  color: #353535;
  align-self: flex-end;
  letter-spacing: calc(2 / 100 * 16);
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 8px;
}
.dot {
  width: 4px;
  height: 4px;
  background-color: #353535;
  border-radius: 50%;
  display: inline-block;
}
.notedetails::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.63);
  border-radius: 5.5px;
}
@media (max-width: 720px) {
  .note,
  .time {
    font-size: 13px;
  }
}
